.gold {
    color: gold;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mr Bedfort', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;
}

.flexible-container {
    display: left;
    margin-left: 2%;
}

section {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 50px;
}

#gold {
    color: orange;
}