.gold {
    color: gold;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mr Bedfort', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;
}