body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mr Bedfort', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;



}

h1 {
    font-size: 50px;

}

.gold {
    color: blueviolet
}

.flexible-container {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 2%;
}

.half img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;

    border-radius: 5px;

}

.top-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.silver {
    color: blue;
}

.box-shadow {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;


}

.Recipies {
    background-image: url(images/shapes/Frame\ 59.jpg);
}